<a href="https://colab.research.google.com/github/olumidedaramola21/PyTorch-Odyssey/blob/main/Pandas_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
# Create and populate a 5x2 Numpy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])
# Create a python list that will hold the name of the two columns
my_column_names = ['temperature', 'activity']
# Create a DataFrame
my_dataframe = pd.DataFrame(data =my_data, columns=my_column_names )
# Creating a new column
my_dataframe["adjusted"] = my_dataframe["activity"]
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         3
1           10         7         7
2           20         9         9
3           30        14        14
4           40        15        15

In [9]:
print(my_dataframe['temperature'])
print(my_dataframe[1:4])
print(my_dataframe.iloc[2])
print(my_dataframe.head(3))

0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int64
   temperature  activity  adjusted
1           10         7         7
2           20         9         9
3           30        14        14
temperature    20
activity        9
adjusted        9
Name: 2, dtype: int64
   temperature  activity  adjusted
0            0         3         3
1           10         7         7
2           20         9         9

In [18]:
new_column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']
a_new_data = np.random.randint(low=0, high=101, size=(3, 4))
new_dataframe = pd.DataFrame(data=a_new_data, columns=new_column_names)
print(new_dataframe)
print(new_dataframe['Eleanor'][0])
new_dataframe['Janet'] = new_dataframe['Tahani'] + new_dataframe['Jason']

   Eleanor  Chidi  Tahani  Jason
0       12      6      52     42
1       81     38      51      0
2        2     84      22      2
12

In [ ]:
# Create a reference by assigning my_dataframe to a new varaible.