In [6]:
import pandas as pd
import numpy as np

In [7]:
my_series = [5, 9, 12, 27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

In [8]:
my_var[2]

12

In [10]:
my_index = ["A", "B", "C", "D"]
my_var2 = pd.Series(data=[5, 9, 12, 27], index=my_index)
my_var2

A     5
B     9
C    12
D    27
dtype: int64

In [11]:
cards = {
    "Telsa": 12,
    "Mercedes": 42,
    "BMW": 3
}
my_var3 = pd.Series(cards)
my_var3

Telsa       12
Mercedes    42
BMW          3
dtype: int64

In [ ]:
my_var3["Telsa"]

12